@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e7e7e3;
  --foreground: #171717;
    --color-primary:#8296e2 ;
  --color-text:#6f6f6c;
  --color-secondaryText:#a2a29e;
}
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
--color-primary:#8699e2 ;                                           
  --color-text: #cfd8cc;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
